/* ------------
  --carousol--  
-------------*/

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background: #121212;
    opacity: 0.5;
}


/*------------
   --cources--  
 ------------*/

.card {
    max-width: 800px !important;
}



/*---------------------------------
 --carousol fix for small devices--
 ---------------------------------*/

@media only screen and (max-width:576px) {
    .sm-device {

        font-size: 14px;
    }

    .sm-device h1 {
        font-size: 20px;
    }

    .text-position {
        text-align: center;
    }

    .company-hide {
        display: none;
    }
}

@media only screen and (min-width:576px) and (max-width:991px) {
    .company-hide {
        display: none;
    }
}